html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, htmlinput[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled], htmlinput[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, button, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 16px;
  line-height: 22px;
  display: grid;
  grid-auto-columns: minmax(300px, 400px) minmax(400px, 800px);
  grid-template-rows: 90px 310px 90px 390px 200px 100px 500px 100px 500px 310px 90px;
}
@media (max-width: 1199px) {
  body {
    grid-template-rows: 90px 310px 90px 390px 200px 100px 500px 100px 500px auto auto;
  }
}
@media (max-width: 840px) {
  body {
    grid-template-rows: 90px 310px 90px 390px 200px 100px 600px 100px 500px auto auto;
  }
}
@media (max-width: 767px) {
  body {
    grid-auto-columns: 1fr;
    grid-template-rows: repeat(5, auto);
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 48px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  padding-left: 0;
}

.show_caption {
  transition: 0.9s ease;
  opacity: 1;
  visibility: visible !important;
  background: #9d63a6d1;
}

.hide_caption {
  transition: 0.9s ease;
  opacity: 0;
  visibility: hidden !important;
}

.header {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
  display: grid;
  grid-auto-columns: minmax(300px, 400px) minmax(400px, 800px);
  grid-template-rows: 90px 310px 90px 390px;
}
.header-navigation {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background: #bca4ce;
  display: flex;
  align-items: center;
}
.header-navigation__list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.header-info {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;
  display: grid;
  grid-auto-columns: inherit;
  grid-template-rows: 310px 90px 390px;
}
.header-info-head {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  display: grid;
  grid-auto-columns: inherit;
  grid-template-rows: 200px 110px 90px;
}
.header-info-head__name {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-bottom: 0;
  padding-left: 60px;
  align-self: flex-end;
  line-height: 55px;
}
.header-info-head__pro {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 24px;
  margin-top: 10px;
  padding-left: 60px;
}
.header-info-head__avatar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  min-width: 300px;
  background: #9d63a6;
}
.header-info-contacts {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  background: #bca4ce;
}
.header-info-contacts__title {
  background: #e0d0e3;
  position: relative;
  color: #fff;
}
.header-info-contacts__title::before {
  position: absolute;
  content: "";
  background: #f9ebd9;
  height: 100%;
  width: 30px;
}
.header-info-contacts__title h2 {
  margin: 60px 0 30px 0;
  padding: 10px 0 10px 60px;
}
.header-info-contacts__list {
  padding-left: 60px;
  color: #fff;
}
.header-info-contacts__list a {
  color: #fff;
}
.header-info-contacts__list-item__subtitle {
  margin: 20px 0;
}
@media (max-width: 767px) {
  .header {
    grid-area: 1/1/2/1;
    display: flex;
    flex-direction: column;
  }
  .header-navigation {
    display: flex;
  }
  .header-info {
    display: flex;
  }
  .header-info-head {
    display: flex;
  }
  .header-info-head__name {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .header-info-head__pro {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 24px;
  }
  .header-info-head__avatar {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .header-info-contacts {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 4;
    background: #bca4ce;
  }
}

.about {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 8;
  display: grid;
  grid-template-rows: 90px 390px 200px 100px 500px;
}
.about-biography {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}
.about-biography__title {
  background: #e0d0e3;
  position: relative;
}
.about-biography__title::before {
  position: absolute;
  content: "";
  background: #f9ebd9;
  height: 100%;
  width: 20px;
}
.about-biography__title h3 {
  font-size: 24px;
  margin: 0 0 30px 0;
  padding: 10px 0 10px 60px;
}
.about-biography__info {
  margin: 0;
  line-height: 22px;
  padding: 0 60px;
}
.about-skills {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-skills-title {
  align-self: flex-start;
  width: 100%;
  background: #e0d0e3;
  position: relative;
}
.about-skills-title::before {
  position: absolute;
  content: "";
  background: #f9ebd9;
  height: 100%;
  width: 20px;
}
.about-skills-title h3 {
  font-size: 24px;
  margin: 0;
  padding: 10px 0 10px 60px;
}
.about-skills-part {
  width: 33%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.about-skills-part__title {
  margin: 10px 0 0 8px;
}
.about-skills-part__list {
  margin: 10px 0 0 8px;
}
.about-skills-addition {
  display: flex;
  align-items: center;
  justify-self: flex-end;
}
.about-skills-addition:nth-child(8) {
  padding-left: 60px;
  width: 33%;
  flex-grow: 2;
}
.about-skills-addition:last-child {
  width: 33%;
  padding-left: 30px;
  padding-right: 60px;
}
.about-skills-addition__title {
  margin: 10px 0 0 8px;
  font-size: 16px;
  font-weight: 400;
}
.about-skills-addition__subtitle {
  margin: 0;
}
@media (max-width: 1199px) {
  .about-biography__info {
    max-height: 500px;
    overflow-y: scroll;
  }
}
@media (max-width: 767px) {
  .about {
    grid-area: 2/1/3/1;
    display: flex;
    flex-direction: column;
  }
}

.code {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 8;
  grid-row-end: 10;
  background: #bca4ce;
  padding-top: 60px;
  color: #fff;
}
.code__title {
  background: #e0d0e3;
  position: relative;
}
.code__title::before {
  position: absolute;
  content: "";
  background: #f9ebd9;
  height: 100%;
  width: 30px;
}
.code__title h3 {
  color: #fff;
  font-size: 24px;
  margin: 0 0 10px 0;
  padding: 10px 0 10px 60px;
}
.code__subtitle {
  display: inline-block;
  font-weight: 300;
  margin-bottom: 30px;
  padding: 0 60px;
  margin-top: 20px;
}
.code__example {
  font-weight: 300;
  border: 2px solid #f9ebd9;
  padding: 10px;
  margin: 0 50px;
  word-break: keep-all;
}
@media (max-width: 991px) {
  .code__example {
    margin: 0 10px;
  }
}
@media (max-width: 767px) {
  .code {
    grid-area: 3/1/4/1;
    display: flex;
    flex-direction: column;
  }
}

.experience {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 11;
  display: grid;
  grid-auto-columns: minmax(300px, 400px) minmax(400px, 800px);
  grid-template-rows: 200px 100px 500px 100px 500px 310px;
}
.experience__title {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  padding: 30px 0;
}
.experience__title h2 {
  background: #e0d0e3;
  position: relative;
  margin: 0;
  padding: 10px 0 10px 60px;
}
.experience__title h2::before {
  position: absolute;
  content: "";
  background: #f9ebd9;
  height: 100%;
  width: 20px;
  left: 0;
  top: 0;
}
.experience-education {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  background: #9d63a6;
  color: #fff;
  padding-top: 60px;
}
.experience-education__title {
  background: #e0d0e3;
  position: relative;
}
.experience-education__title::before {
  position: absolute;
  content: "";
  background: #f9ebd9;
  height: 100%;
  width: 30px;
}
.experience-education__title h4 {
  color: #fff;
  font-size: 24px;
  margin: 0 0 30px 0;
  padding: 10px 0 10px 60px;
}
.experience-education__list {
  margin: 0;
  padding: 0 60px;
}
.experience-education__list-item {
  margin: 20px 0;
}
.experience-education__list-item__subtitle {
  margin: 0;
}
.experience-education__list-item__link {
  color: #fff;
}
.experience-education__list-item img {
  cursor: pointer;
  margin-top: 10px;
}
.experience-project {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 7;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
}
.experience-project__part-react, .experience-project__part-native, .experience-project__part-cms, .experience-project__part-adaptive {
  display: flex;
  flex-wrap: wrap;
}
.experience-project__part-react__subtitle, .experience-project__part-native__subtitle, .experience-project__part-cms__subtitle, .experience-project__part-adaptive__subtitle {
  flex-basis: 100%;
}
.experience-project__part-react-list, .experience-project__part-native-list, .experience-project__part-cms-list, .experience-project__part-adaptive-list {
  flex-basis: 100%;
}
.experience-project__part-react-list, .experience-project__part-native-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.experience-project__part-react-list__item, .experience-project__part-native-list__item {
  width: 230px;
  height: 125px;
  position: relative;
  margin-top: 10px;
}
.experience-project__part-react-list__item-link, .experience-project__part-native-list__item-link {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  width: 230px;
  height: 125px;
  top: 0;
  visibility: hidden;
}
.experience-project__part-react-list__item-link__one, .experience-project__part-native-list__item-link__one {
  flex-basis: 150px;
  color: #fff;
}
.experience-project__part-react-list__item-link__two, .experience-project__part-native-list__item-link__two {
  flex-basis: 75px;
  margin-left: 5px;
  color: #fff;
}
.experience-languages {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
  background: #9d63a6;
  padding-top: 60px;
}
.experience-languages__title {
  background: #e0d0e3;
  position: relative;
}
.experience-languages__title::before {
  position: absolute;
  content: "";
  background: #f9ebd9;
  height: 100%;
  width: 30px;
}
.experience-languages__title h3 {
  color: #fff;
  font-size: 24px;
  margin: 0 0 30px 0;
  padding: 10px 0 10px 60px;
}
.experience-languages__list {
  color: #fff;
  padding: 0 60px;
}
.experience-languages__list-item {
  margin: 20px 0;
}
.experience-languages__list-item a {
  color: #fff;
}
@media (max-width: 1199px) {
  .experience {
    grid-template-rows: 200px 100px 500px 100px 500px auto;
  }
}
@media (max-width: 840px) {
  .experience {
    grid-template-rows: 200px 100px 600px 100px 500px auto;
  }
}
@media (max-width: 767px) {
  .experience {
    grid-area: 4/1/5/1;
    display: flex;
    flex-direction: column;
  }
}

.footer {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 11;
  grid-row-end: 12;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.footer__item:nth-child(2) {
  position: relative;
  margin-left: 30px;
}
.footer__item:nth-child(2)::before {
  position: absolute;
  content: "";
  position: absolute;
  background-image: url("/img/GitHub.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  z-index: 200;
  top: -10px;
  left: -40px;
}
.footer__item:first-child {
  font-size: 24px;
}
@media (max-width: 767px) {
  .footer {
    grid-area: 5/1/6/1;
    display: flex;
    flex-direction: column;
  }
}